<!DOCTYPE html>
<html>
<head>
  <title>Sorcery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= notice %>

<% if logged_in? %>
<p>you're logging in.</p>
<%= link_to "log out", sessions_path, method: :delete %>
<% else %>
<p>you're not logging in.</p>
<%= link_to "log in", new_sessions_path %>
<% end %>

<%= yield %>


</body>
</html>
